{% extends 'base.html' %}

{% block title %}
    Account List
{% endblock title %}
{% block content %}
    <main>
        <h1>Account List</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for act in account_list %}
                    <tr>
                        <td>{{ act.name }}</td>
                        <td>{{ act.number }}</td>
                        <td>{{ act.receipts.all.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
